.login-section {
  width: 28%;
  margin: 0 auto;
}

.register-section {
  width: 28%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.category-list {
  display: grid;
  grid-template-columns: 20fr 3fr 40fr;
  align-items: baseline;
}

.add-exp-btn-wrapper {
  margin-top: 20px;
}
.add-btn {
  margin-right: 10px;
}

.exp-btn-ctrl {
  margin-top: 20px;
}

.table-ctrl {
  margin-top: 20px;
}

.budget-section {
  margin-top: 20px;
}

.invoice-btn {
  margin-top: 20px;
  margin-left: 10px;
}

.recharts-responsive-container {
  height: 230px !important;
}
