.login-section {
  width: 28%;
  margin: 0 auto;
}

.register-section {
  width: 28%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.category-list {
  display: grid;
  grid-template-columns: 20fr 3fr 40fr;
}

.add-exp-btn-wrapper {
  margin-top: 20px;
}
.add-btn {
  margin-right: 10px;
}

.exp-btn-ctrl {
  margin-top: 20px;
}

.table-ctrl {
  margin-top: 20px;
}
